.usermanage-container{
     
     .usermanage-content{
          margin: auto;
          margin-top: 20px;
          max-width: 1000px;

          .usermanage-table{
               .table-here{
                    width: 100%;
               }
               .action-button{
                    margin: 5px 10px 5px 10px;
               }
          }
     }
}